* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.square {
	border: 1px solid black;
	width: 60px;
	height: 60px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	height: 960px;
}
